<div class="container">
  <div class="row mt-3">
    <h3>Register</h3>
  </div>
  <div class="row mt-3">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="form-group">
        <label for="firstName">First name</label>
        <input
          type="text"
          formControlName="firstName"
          id="firstName"
          class="form-control"
        />
        <small
          *ngIf="fieldHasError('firstName', 'required')"
          class="form-text invalid-form-text"
        >
          Enter your first name
        </small>
      </div>
      <div class="form-group">
        <label for="secondName">Second name</label>
        <input
          type="text"
          formControlName="secondName"
          id="secondName"
          class="form-control"
        />
        <small
          class="form-text invalid-form-text"
          *ngIf="fieldHasError('secondName', 'required')"
        >
          Enter your second name
        </small>
      </div>
      <div class="form-group">
        <label for="pName">Patronymic name</label>
        <input
          type="text"
          formControlName="patronymicName"
          id="pName"
          class="form-control"
        />
        <small
          class="form-text invalid-form-text"
          *ngIf="fieldHasError('patronymicName', 'required')"
        >
          Enter your patronymic name
        </small>
      </div>
      <div class="form-group">
        <label for="phone">Phone number</label>
        <input
          type="text"
          formControlName="phone"
          id="phone"
          class="form-control"
        />
        <small
          class="form-text invalid-form-text"
          *ngIf="fieldHasError('phone', 'required')"
        >
          Enter your phone number
        </small>
        <small
          class="form-text invalid-form-text"
          *ngIf="fieldHasError('phone', 'phoneNumber')"
        >
          Your phone number should be in this format: +996XXXYYYYYY;
        </small>
      </div>
      <div class="form-group">
        <label for="job">Place of work</label>
        <input
          type="text"
          formControlName="job"
          id="job"
          class="form-control"
        />
        <small
          class="form-text invalid-form-text"
          *ngIf="fieldHasError('job', 'required')"
        >
          Enter your place of work
        </small>
      </div>
      <div class="form-group">
        <p>Select t-shirt gender</p>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="maleGender"
            value="male"
            formControlName="gender"
          />
          <label
            class="form-check-label"
            for="maleGender">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="femaleGender"
            value="female"
            formControlName="gender"
          />
          <label
            class="form-check-label"
            for="femaleGender">Female</label>
        </div>
        <small
          class="form-text invalid-form-text"
          *ngIf="fieldHasError('gender', 'required')"
        >
          Enter your gender
        </small>
      </div>
      <div class="form-group">
        <p>Select t-shirt size</p>
        <select
          class="form-control"
          formControlName="size"
        >
          <option value="">Select size</option>
          <option value="s">S</option>
          <option value="m">M</option>
          <option value="l">L</option>
          <option value="xl">XL</option>
        </select>
        <small
          class="form-text invalid-form-text"
          *ngIf="fieldHasError('size', 'required')"
        >
          Choose t-shirt size
        </small>
      </div>
      <div class="form-group">
        <label>Comments</label>
        <textarea
          class="form-control"
          formControlName="comment"
        ></textarea>
        <small
          class="form-text invalid-form-text"
          *ngIf="fieldHasError('comments', 'required')"
        >
          Write a comment
        </small>
        <small
          class="form-text invalid-form-text"
          *ngIf="fieldHasError('comments', 'maxlength')"
        >
          Max length of the comment should be no more than 300 letters
        </small>
        <div class="form-group mt-3" formArrayName="skills">
          <button
            type="button"
            class="btn btn-outline-info"
            (click)="addSkill()"
          >Add skill</button>

          <div class="form-inline mt-3" *ngFor="let skillControl of getSkillControls(); let i = index">
            <div [formGroupName]="i">
              <select
                formControlName="skill"
                id="skill"
                class="form-control mr-3"
              >
                <option value="">Select skill</option>
                <option value="JavaScript">JavaScript</option>
                <option value="react">React</option>
                <option value="angular">Angular</option>
                <option value="vue">Vue</option>
              </select>
              <select
                formControlName="level"
                id="level"
                class="form-control"
              >
                <option value="">Level of skill</option>
                <option value="beginner">Beginner</option>
                <option value="intermediate">Intermediate</option>
                <option value="advanced">Advanced</option>
                <option value="expert">Expert</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <button
        class="btn btn-primary"
        type="submit"
        (click)="saveForm()"
        [disabled]="f.invalid"
      >
        Register</button>
    </form>
  </div>
</div>




